ul {
    list-style-type: none;
}

.item {
    border-bottom: solid grey 2px;
    display: flex;
    flex-direction: row;
    margin: 20px 100px;
    padding: 20px;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}


.item-pics {
    margin: 0 35px;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    transition: all .15s ease;
    flex: 1;
}

.item-pics:hover {
    transform: scale(1.1, 1.1);
    transition-duration: 1s;
}

.item-title {
    font-family: "Georgia", Times, serif;
    margin: 10px;
    text-align: center;
    color: #4739b2;
    font-size: 34px;
}

.item-button {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
}

.item-content > a {
    margin: 10px auto;
}

.item-button:hover {
    background-color: darkgrey;
    color: white;
    cursor: pointer;
}

.info {
    color: #149e99;
}