body {
    margin: 0;
    padding: 0;
    background: #92dce5;
}

p#about{
    font-family: "Times New Roman", Times, serif;
    color: #17255a;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin: 50px 300px;
    border-top: #961d5d solid 2px;
    padding-top: 10px
}

img {
    display: block;
    border-radius: 10%;
    margin: 30px auto;
    width: 30%;
}

.button {
    font-family: "Times New Roman", Times, serif;
    display: block;
    background-color: #961d5d;
    border: none;
    color: #92dce5;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
}

.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


.nav ul {
    list-style: none;
    background-color: #383d3b;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav li:first-child {
    font-size: 1.8em;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #005f5f;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    /* Option 1 - Display Inline
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }*/

    /* Options 2 - Float*/
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }

}

.footer {
    background-color: #7c7c7c;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    color: #eee5e9;
    width: 100%;
    bottom: 0;
    position: absolute;
    margin: 0;
}



